{% extends "base.html" %}
{% block title %}ZenMotion | Register{% endblock %}

{% block external_css %}
<link href="{{ url_for('static', path='css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block internal_css %}
{% endblock %}


{% block content %}

<div class="container login-container d-flex align-items-center justify-content-center">
    <div class="card shadow-lg login-card col-12 col-lg-10">

        <div class="row g-0">

            <!-- LEFT SIDE -->
            <div class="col-lg-6 d-none d-lg-flex left-section">
                <div>
                    <h1>ZenMotion</h1>
                    <p class="lead mt-3">
                        Build your routines.  
                        Find your flow.  
                        Remix your workouts.
                    </p>
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="col-lg-6 bg-white">
                <div class="form-section">

                    <h3 class="fw-bold mb-4">Create Account</h3>
                    <p class="text-muted mb-4">Start your fitness journey today</p>

                    <form id="signUpForm" method="POST">

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>

                       <div class="d-grid mb-3">
                            <button type="submit" class="btn_primary">
                                <span class="btn_top">Join ZenMotion</span>
                            </button>
                        </div>

                        <div class="text-center">
                            <a href="{{url_for('login_view')}}" class="text-decoration-none">
                                Already have an account? Login
                            </a>
                        </div>

                        {% for message in get_flashed_messages(request) %}
                        <div class="alert alert-{{ message.type }}" role="alert">{{ message.message }}</div>
                        {% endfor %}

                    </form>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}